	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 5562px;
		max-width: 1306px;
	}

	#page_position_content
	{
		margin-bottom: -2px;
	}

	#menuu5840
	{
		top: 4px;
		right: -6px;
		width: 53.91%;
		max-width: 704px;
	}

	#u5848
	{
		min-height: 71px;
		width: 19.75%;
	}

	#u5852-4
	{
		min-height: 13px;
		font-size: 11px;
		line-height: 13px;
		top: 29px;
	}

	#u5849:hover #u5852-4
	{
		min-height: 13px;
	}

	#u5855
	{
		min-height: 71px;
		width: 19.75%;
		left: 20.03%;
	}

	#u5860-4
	{
		min-height: 13px;
		font-size: 11px;
		line-height: 13px;
		top: 29px;
	}

	#u5849.MuseMenuActive #u5852-4,#u5858:hover #u5860-4
	{
		min-height: 13px;
	}

	#u5897
	{
		min-height: 71px;
		width: 19.75%;
		left: 40.06%;
	}

	#u5902-4
	{
		min-height: 13px;
		font-size: 11px;
		line-height: 13px;
		top: 29px;
	}

	#u5858.MuseMenuActive #u5860-4,#u5900:hover #u5902-4
	{
		min-height: 13px;
	}

	#u5876
	{
		min-height: 71px;
		width: 19.75%;
		left: 60.09%;
	}

	#u5881-4
	{
		min-height: 13px;
		font-size: 11px;
		line-height: 13px;
		top: 29px;
	}

	#u5900.MuseMenuActive #u5902-4,#u5879:hover #u5881-4
	{
		min-height: 13px;
	}

	#u5862
	{
		min-height: 71px;
		width: 19.89%;
		left: 80.12%;
	}

	#u5849,#u5858,#u5900,#u5879,#u5865
	{
		padding-bottom: 58px;
	}

	#u5866-4
	{
		min-height: 13px;
		font-size: 11px;
		line-height: 13px;
		top: 29px;
	}

	#u5879.MuseMenuActive #u5881-4,#u5865:hover #u5866-4
	{
		min-height: 13px;
	}

	#u5865.MuseMenuActive #u5866-4
	{
		min-height: 13px;
	}

	#home
	{
		top: -80px;
		margin-bottom: -18px;
	}

	#u91492-3
	{
		width: 0.85%;
		left: -18.99%;
	}

	#u65605
	{
		width: 105.21%;
		margin-left: -2.61%;
		left: -1px;
	}

	#pamphletu67982
	{
		height: 86px;
		margin-top: 273px;
		left: -460px;
	}

	#u67989-4
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 60px;
		margin-top: 16px;
		width: 91.12%;
		margin-left: 4.45%;
		left: -12px;
	}

	#u67988,#u67990,#u67986
	{
		height: 86px;
	}

	#u67991-4,#u67987-4
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 60px;
		margin-top: 16px;
	}

	#u67993
	{
		margin-top: 85px;
	}

	#buttonu66916
	{
		padding-bottom: 13px;
		margin-top: 373px;
		width: 19.68%;
		margin-left: 40.17%;
		left: -1px;
	}

	#buttonu66916:hover
	{
		margin-top: 373px;
		width: 19.68%;
		margin-left: 40.17%;
		left: -1px;
	}

	#buttonu66916.ButtonSelected
	{
		margin-top: 373px;
		width: 19.68%;
		margin-left: 40.17%;
		left: -1px;
	}

	#u66918-4
	{
		font-size: 14px;
		margin-top: 14px;
		width: 53.31%;
		left: 23.35%;
	}

	#buttonu66916:hover #u66918-4
	{
		margin-top: 14px;
		width: 53.31%;
	}

	#buttonu66916.ButtonSelected #u66918-4
	{
		margin-top: 14px;
		width: 53.31%;
	}

	#about
	{
		margin-top: 106px;
	}

	#pu66691
	{
		margin-top: 154px;
		width: 100%;
	}

	#u66691
	{
		margin-right: -10000px;
		margin-top: 7px;
		width: 31.02%;
		margin-left: 34.5%;
		left: -299px;
	}

	#pu3749-4
	{
		margin-right: -10000px;
		width: 44.03%;
		margin-left: 27.99%;
	}

	#u3749-4
	{
		line-height: 60px;
		font-size: 60px;
		width: 100%;
		margin-left: 0%;
		left: 213.49999999999994px;
	}

	#u3748-8
	{
		line-height: 27px;
		font-size: 13px;
		margin-top: 6px;
		width: 100%;
		margin-left: 0%;
		left: 213.49999999999994px;
	}

	#cv
	{
		margin-top: 270px;
	}

	#pu3774
	{
		margin-top: 58px;
	}

	#u3774,#u3774-bw
	{
		height: 863px;
	}

	#pamphletu3777
	{
		height: 25px;
		padding-bottom: 813px;
		margin-top: 68px;
		left: -600px;
	}

	#u3780
	{
		width: 1375px;
	}

	#u68511-8
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 89px;
		width: 26.55%;
		margin-left: 36.73%;
		left: -85px;
	}

	#u68526-8
	{
		font-size: 13px;
		line-height: 23px;
		margin-top: 89px;
		width: 12.15%;
		margin-left: 43.93%;
		left: 136px;
	}

	#u68577
	{
		margin-top: 164px;
		width: 15.86%;
		margin-left: 42.08%;
		left: -217px;
	}

	#u68541
	{
		margin-top: 178px;
		width: 5.1%;
		margin-left: 47.46%;
		left: -361px;
	}

	#u68610-6
	{
		line-height: 23px;
		font-size: 13px;
		margin-right: -10000px;
		margin-top: 89px;
		width: 5.24%;
		margin-left: 47.39%;
		left: -360px;
	}

	#u68611-7
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 89px;
		width: 21.68%;
		margin-left: 39.17%;
		left: -150px;
	}

	#u68612-8
	{
		font-size: 13px;
		line-height: 23px;
		margin-top: 89px;
		width: 17.68%;
		margin-left: 41.17%;
		left: 98px;
	}

	#u68704
	{
		margin-right: -10000px;
		margin-top: 187px;
		width: 7.13%;
		margin-left: 46.44%;
		left: -347px;
	}

	#u74412
	{
		margin-top: 162px;
		width: 15.86%;
		margin-left: 42.08%;
		left: -189px;
	}

	#u68723-41
	{
		margin-top: 89px;
		width: 44.73%;
		margin-left: 27.64%;
		left: -88px;
	}

	#u68759-60
	{
		min-height: 670px;
		margin-top: 89px;
		width: 35.57%;
		margin-left: 32.22%;
		left: -53px;
	}

	#u68804-54
	{
		min-height: 674px;
		margin-top: 89px;
		width: 23.42%;
		margin-left: 38.3%;
		left: -234px;
	}

	#u68819-51
	{
		min-height: 679px;
		margin-top: 91px;
		width: 12.15%;
		margin-left: 43.93%;
		left: 137px;
	}

	#u68819-13
	{
		font-style: italic;
	}

	#u68723-2,#u68723-21,#u68759-2,#u68759-14,#u68759-24,#u68759-32,#u68759-36,#u68804-2,#u68804-12,#u68804-20,#u68804-28,#u68804-32,#u68819-2,#u68819-12,#u68819-20,#u68819-28,#u68819-32
	{
		font-size: 16px;
		line-height: 29px;
	}

	#u68723-7,#u68723-12,#u68723-18,#u68723-27,#u68723-33,#u68759-4,#u68759-6,#u68759-8,#u68759-10,#u68759-12,#u68759-16,#u68759-18,#u68759-20,#u68759-22,#u68759-26,#u68759-28,#u68759-30,#u68759-34,#u68759-38,#u68759-40,#u68759-42,#u68759-44,#u68759-46,#u68759-48,#u68759-50,#u68759-52,#u68759-54,#u68759-56,#u68804-4,#u68804-6,#u68804-7,#u68804-9,#u68804-10,#u68804-14,#u68804-15,#u68804-16,#u68804-18,#u68804-22,#u68804-24,#u68804-26,#u68804-30,#u68804-34,#u68804-36,#u68804-37,#u68804-39,#u68804-41,#u68804-42,#u68804-44,#u68804-46,#u68804-48,#u68819-4,#u68819-6,#u68819-7,#u68819-9,#u68819-10,#u68819-14,#u68819-15,#u68819-16,#u68819-18,#u68819-22,#u68819-24,#u68819-26,#u68819-30,#u68819-34,#u68819-36,#u68819-38,#u68819-40,#u68819-42,#u68819-43,#u68819-45,#u68819-47,#u68819-49
	{
		font-size: 13px;
		line-height: 23px;
	}

	#u88030-3
	{
		width: 9px;
	}

	#pu68908-18
	{
		margin-top: 89px;
		width: 44.73%;
		margin-left: 27.64%;
	}

	#u68908-18
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 1px;
		width: 11.71%;
		margin-left: 44.15%;
		left: -360px;
	}

	#u68909-22
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 1px;
		width: 86.35%;
		margin-left: 6.83%;
		left: -67px;
	}

	#u68910-20
	{
		font-size: 13px;
		line-height: 23px;
		width: 27.16%;
		margin-left: 36.43%;
		left: 136px;
	}

	#u3787,#u3791,#u3783,#u3781,#u68267,#u68995
	{
		width: 1375px;
		height: 838px;
	}

	#u3788-8,#u69067-17
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 89px;
		width: 5.24%;
		margin-left: 47.39%;
		left: -360px;
	}

	#u69068-27
	{
		line-height: 23px;
		font-size: 13px;
		margin-top: 89px;
		width: 33.6%;
		margin-left: 33.2%;
		left: -106px;
	}

	#u69069-18
	{
		font-size: 13px;
		line-height: 23px;
		margin-top: 89px;
		width: 22.77%;
		margin-left: 38.62%;
		left: 63px;
	}

	#u3795
	{
		width: 1117px;
		left: 42px;
	}

	#u3800
	{
		width: 168px;
		padding-bottom: 4px;
		left: -10px;
	}

	#u3800:hover
	{
		width: 168px;
	}

	#u3801-4
	{
		width: 150px;
		line-height: 20px;
		margin-top: 4px;
		left: 9px;
	}

	#u3800:hover #u3801-4
	{
		margin-top: 4px;
		width: 150px;
	}

	#u3800.PamphletThumbSelected #u3801-4
	{
		margin-top: 4px;
		width: 150px;
	}

	#u3798
	{
		width: 168px;
		left: 183px;
	}

	#u3800.PamphletThumbSelected,#u3798:hover
	{
		width: 168px;
	}

	#u3799-4
	{
		width: 150px;
		line-height: 20px;
		left: 9px;
	}

	#u3798:hover #u3799-4
	{
		width: 150px;
	}

	#u3796
	{
		width: 168px;
		left: 377px;
	}

	#u3798.PamphletThumbSelected,#u3796:hover
	{
		width: 168px;
	}

	#u3797-4
	{
		width: 150px;
		line-height: 20px;
		left: 9px;
	}

	#u3798.PamphletThumbSelected #u3799-4,#u3796:hover #u3797-4
	{
		width: 150px;
	}

	#u3802
	{
		width: 168px;
		top: -5px;
		left: 570px;
	}

	#u3796.PamphletThumbSelected,#u3802:hover
	{
		width: 168px;
	}

	#u3803-4
	{
		width: 150px;
		line-height: 20px;
		left: 9px;
	}

	#u3796.PamphletThumbSelected #u3797-4,#u3802:hover #u3803-4
	{
		width: 150px;
	}

	#u68288
	{
		width: 168px;
		top: -5px;
		left: 763px;
	}

	#u3802.PamphletThumbSelected,#u68288:hover
	{
		width: 168px;
	}

	#u68481-4
	{
		width: 150px;
		line-height: 20px;
		left: 9px;
	}

	#u3802.PamphletThumbSelected #u3803-4,#u68288:hover #u68481-4
	{
		width: 150px;
	}

	#u69024
	{
		width: 168px;
		top: -5px;
		left: 957px;
	}

	#u68288.PamphletThumbSelected,#u69024:hover
	{
		width: 168px;
	}

	#u69024.PamphletThumbSelected
	{
		width: 168px;
	}

	#u69041-4
	{
		width: 150px;
		line-height: 20px;
		left: 9px;
	}

	#u68288.PamphletThumbSelected #u68481-4,#u69024:hover #u69041-4
	{
		width: 150px;
	}

	#u69024.PamphletThumbSelected #u69041-4
	{
		width: 150px;
	}

	#pu74966
	{
		margin-top: -45px;
	}

	#u74966
	{
		width: 104.6%;
		margin-left: -2.3%;
		left: 0px;
	}

	#u70131
	{
		margin-top: 246px;
		width: 25.66%;
		margin-left: 37.18%;
		left: 486px;
	}

	#selectedworks
	{
		margin-top: 102px;
	}

	#pamphletu71477
	{
		height: 260px;
		margin-top: 267px;
		left: -571px;
	}

	#u71491
	{
		width: 852px;
		left: 1px;
	}

	#pu71493
	{
		left: 297px;
	}

	#u71493
	{
		width: 266px;
		height: 259px;
	}

	#pu71493:hover #u71493
	{
		width: 266px;
		height: 259px;
	}

	#pu71494
	{
		left: 585px;
	}

	#u71494
	{
		width: 267px;
		height: 259px;
	}

	#pu71494:hover #u71494
	{
		width: 267px;
		height: 259px;
	}

	#u66691_img,#u70131_img,#u71803
	{
		width: 100%;
	}

	#pu71494:hover #u71803
	{
		width: 100%;
		left: 0.38%;
	}

	#u71803_img
	{
		width: 100.38%;
	}

	#pu71494 #u71803
	{
		width: 100%;
		left: 0.38%;
	}

	#u71603
	{
		width: 265px;
		height: 258px;
		top: 1px;
		left: 873px;
	}

	#u71603:hover
	{
		width: 265px;
		height: 258px;
	}

	#pu71492
	{
		top: 1px;
		left: -1px;
	}

	#u71492
	{
		width: 273px;
		height: 258px;
	}

	#pu71492:hover #u71492
	{
		width: 273px;
		height: 258px;
	}

	#pu71494.PamphletThumbSelected #u71803,#u71635
	{
		width: 100%;
	}

	#pu71492:hover #u71635
	{
		width: 100%;
	}

	#pu71492.PamphletThumbSelected #u71635,#pu71492 #u71635
	{
		width: 100%;
	}

	#u71482
	{
		width: 1350px;
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
		top: -138px;
		left: -104px;
	}

	#u71486-4
	{
		width: 47.55%;
	}

	#u71484-4
	{
		width: 47.48%;
		left: 0.08%;
	}

	#u71485,#u71483,#u71618,#u71487
	{
		width: 1306px;
		height: 1490px;
	}

	#u71480
	{
		top: -116px;
		left: 1194px;
	}

	#u71481-4
	{
		color: #000000;
	}

	#u22645-4
	{
		line-height: 60px;
		font-size: 60px;
		top: -398px;
		margin-bottom: -60px;
	}

	#pu4973
	{
		margin-top: 508px;
		width: 100%;
	}

	#u4973_align_to_page
	{
		max-width: 1306px;
		left: -30px;
	}

	#pu5087-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 148px;
		margin-left: 107px;
		width: 39.74%;
	}

	#u5087-4
	{
		line-height: 55px;
		font-size: 55px;
		text-align: left;
		width: 100%;
	}

	#u5084-10
	{
		text-align: justify;
		margin-top: 79px;
		width: 64.17%;
	}

	#u5085-6
	{
		text-align: justify;
		width: 64.17%;
	}

	#buttonu5057
	{
		width: 523px;
		padding-bottom: 383px;
		margin-bottom: -282px;
		margin-top: 148px;
		left: -644px;
	}

	#buttonu5057.ButtonSelected
	{
		margin-bottom: -282px;
		margin-top: 148px;
		width: 523px;
		left: -644px;
	}

	#widgetu5058
	{
		width: 519px;
		left: -518px;
	}

	#widgetu5058.frm-sub-st
	{
		left: -518px;
	}

	#widgetu5059
	{
		width: 519px;
	}

	#u5060-4
	{
		width: 505px;
	}

	#widgetu5059:hover #u5060-4
	{
		width: 505px;
	}

	#widgetu5059.focus-st #u5060-4
	{
		width: 505px;
	}

	#widgetu5059.fld-err-st,#widgetu5064
	{
		width: 519px;
	}

	#widgetu5059.fld-err-st #u5060-4,#widgetu5059_input,#widgetu5059_prompt,#u5066-4
	{
		width: 505px;
	}

	#widgetu5064:hover #u5066-4
	{
		width: 505px;
	}

	#widgetu5064.focus-st #u5066-4
	{
		width: 505px;
	}

	#u5070-3
	{
		min-height: 12px;
	}

	#widgetu5058.frm-subm-ok-st #u5070-3
	{
		min-height: 16px;
	}

	#u5069-17
	{
		width: 517px;
		background-image: url("../images/u5069-17.png");
	}

	#u5069-17:hover
	{
		background-image: url("../images/u5069-17-r.png");
	}

	#u5069-17:active
	{
		background-image: url("../images/u5069-17-m.png");
	}

	#widgetu5058.frm-sub-st #u5069-17
	{
		background-image: url("../images/u5069-17-fs.png");
	}

	#widgetu5064.fld-err-st,#widgetu5071
	{
		width: 519px;
	}

	#widgetu5071.fld-err-st
	{
		width: 519px;
	}

	#widgetu5064.fld-err-st #u5066-4,#widgetu5064_input,#widgetu5064_prompt,#u5074-4
	{
		width: 505px;
	}

	#widgetu5071:hover #u5074-4
	{
		width: 505px;
	}

	#widgetu5071.focus-st #u5074-4
	{
		width: 505px;
	}

	#widgetu5071.fld-err-st #u5074-4,#widgetu5071_input,#widgetu5071_prompt
	{
		width: 505px;
	}

	#u4973,#u4973-bw
	{
		min-height: 637px;
	}

	#buttonu86439
	{
		margin-top: 502px;
		left: -1229px;
	}

	#buttonu86439:hover
	{
		margin-top: 502px;
		left: -1229px;
	}

	#buttonu86439.ButtonSelected
	{
		margin-top: 502px;
		left: -1229px;
	}

	#buttonu81470
	{
		margin-top: 501px;
		left: -1158px;
	}

	#buttonu81470:hover
	{
		margin-top: 501px;
		left: -1158px;
	}

	#buttonu81470.ButtonSelected
	{
		margin-top: 501px;
		left: -1158px;
	}

	#u81473
	{
		margin-left: 100%;
		left: -42px;
	}

	#buttonu81470:hover #u81473
	{
		margin-top: 0px;
		margin-left: 100%;
		left: -42px;
	}

	#buttonu81470.ButtonSelected #u81473
	{
		margin-top: 0px;
		margin-left: 100%;
		left: -42px;
	}

	#u81471_img
	{
		margin-top: -2px;
		margin-bottom: 2px;
	}

	#buttonu81648
	{
		margin-top: 501px;
		left: -1088px;
	}

	#buttonu81648:hover
	{
		margin-top: 501px;
		left: -1088px;
	}

	#buttonu81648.ButtonSelected
	{
		margin-top: 501px;
		left: -1088px;
	}

	#u81650
	{
		margin-top: 7px;
	}

	#buttonu81648:hover #u81650
	{
		margin-top: 7px;
	}

	#buttonu81648.ButtonSelected #u81650
	{
		margin-top: 7px;
	}

	#contact
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 46px;
		left: 23px;
	}

	#u15981
	{
		min-height: 103px;
		padding-bottom: 31px;
	}

	#u15981_align_to_page
	{
		left: -30px;
	}

	#u81236
	{
		width: 247px;
		margin-top: 93px;
		left: 41.43%;
	}

	#u15982-4
	{
		width: 247px;
	}

	#u15981-bw
	{
		min-height: 103px;
		margin-top: 338px;
	}

	#u76140,#u76140-bw
	{
		height: 396px;
	}

